header {
    text-align: center;
    background-color: #0f9ef1;
    margin-bottom: 20px;
    padding: 10px;
  }

  a {
    margin: 0 10px;
    color: #f6f8fa;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .active {
    color: #040404;
    text-decoration: underline;
  }