.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.backward{
    margin-right: 20px auto;
    font-weight: 900;
}
.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 63px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  28px 28px 56px #b0b0b0,
                -28px -28px 56px #ffffff;
    img {
      width: 100%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
}
  
    .snapped {
      background-color: rgba(lightgreen, 0.4);
      color: darkgreen;
      button {
        box-shadow: lightgreen 3px 3px 7px;
        color: darkgreen;
        &:active {
          box-shadow: lightgreen 0 0 5px;
        }
      }
    }

    