.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 60px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    border-radius: 63px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  28px 28px 56px #b0b0b0,
                -28px -28px 56px #ffffff;
    .image-container {
      position: relative;
    img {
      width: 100%;
      transition: opacity 0.25s ease-in-out; 
      cursor: pointer;
      position: relative;

      //opacifier les snaps au passage de la souris
    &:hover {
      opacity: 0.5;
      background-color: rgba(213, 214, 216, 0.6); 
    }
  }
  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.25s ease-in-out; // Ajout de la transition pour une animation fluide
    cursor: pointer;
  }
    &:hover .image-text{
      opacity: 1; // Opacité augmentée au survol
    }
    }
  }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    
  
    .snapped {
      background-color: rgba(lightgreen, 0.4);
      color: darkgreen;
      button {
        box-shadow: lightgreen 3px 3px 7px;
        color: darkgreen;
        &:active {
          box-shadow: lightgreen 0 0 5px;
        }
      }
    }

    