
<div class="face-snap-card" [ngClass]="{ snapped : buttonText === 'oops, unSnap!' }">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <div (click)="onViewFaceSnapNap()" class="image-container">
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
        <span class="image-text">Cliquez pour voir le Snap</span>
    </div>
    <p>{{ faceSnap.description }}</p>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'd MMMM yyyy, à HH:mm' }}</p>
    <p>
        <button (click)="onAddSnap()">{{ buttonText }}</button>   
       <span [ngStyle]="{color: 'rgb(0,'+ faceSnap.snaps + ',0)'}"> 👍 {{ faceSnap.snaps }} </span>
    </p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>
