/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

  body {
    padding : 0;
    margin: 0
  }

  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
    border-radius: 5px;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  9px 9px 18px #666666,
             -9px -9px 18px #ffffff;
  }